---
import BaseLayout from '../layout/base-layout.astro';
---

<BaseLayout>
	<h2 class='text-4xl text-cta-blue'>Hello Every 1</h2>
	<button popovertarget='open'>Open</button>
	<div
		class=''
		popover='auto'
		id='open'>
		popover
	</div>
	<h2 class='title'>hhhhhhh</h2>
	<form
		class='max-w-2xl m-auto form bg-gray-100 p-3 rounded-2xl'
		action=''>
		<select
			name=''
			id=''>
			<option value=''>select one</option>
			<option value=''>hello</option>
			<option value=''>hello</option>
			<option value=''>hello</option>
		</select>
	</form>
	<p class='anchor'>anchor</p>
	<div class='max-w-96 m-auto'>
		<details name='t'>
			<summary data-no-transition=''>Tester 1</summary>
			<div class='details'>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Similique, maiores!
				</p>
			</div>
		</details>
		<details name='t'>
			<summary>Tester 1</summary>
			<div class='details'>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Similique, maiores!
				</p>
			</div>
		</details>
		<details name='t'>
			<summary>Tester 1</summary>
			<div class='details'>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Similique, maiores!
				</p>
			</div>
		</details>
		<details name='t'>
			<summary>Tester 1</summary>
			<div class='details'>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Similique, maiores!
				</p>
			</div>
		</details>
	</div>
	<section>
		<p class='hhh'>
			Lorem ipsum dolor sit amet consectetur adipisicing elit.
			Repudiandae, sequi dignissimos fuga voluptas quaerat obcaecati
			omnis inventore minima sint enim recusandae quis ab, quidem quos
			unde voluptates, reprehenderit alias tenetur. Minus et doloribus
			architecto, quo dolorem quasi accusantium ullam, tempore enim
			necessitatibus quod. Iusto, quos repellat. Nam aliquam voluptatem
			officia distinctio, commodi nemo, dolorem reiciendis, quaerat totam
			vitae repudiandae quod. Libero harum quasi incidunt pariatur non
			expedita ullam ipsam. Numquam nam at tenetur assumenda dolores
			dignissimos impedit. Doloremque culpa exercitationem quidem sint
			vitae officia, excepturi reprehenderit officiis rerum asperiores
			voluptates. Fugiat quibusdam eum, neque eius modi at provident ex
			vitae. Libero incidunt consequatur corporis tenetur, repellat quam
			alias illo nulla repudiandae asperiores accusantium iure ut, fugiat
			exercitationem error! Modi, laborum. Obcaecati veniam voluptatum
			nam eum sint fuga debitis, enim autem accusantium? Provident
			explicabo voluptatem delectus, assumenda quod optio quo molestiae
			saepe praesentium alias? Non unde, ullam optio officia earum nisi.
			Voluptatibus laudantium enim aliquam rerum ullam explicabo
			veritatis vero modi et maiores. Libero repellat, doloremque nostrum
			ad ipsam esse eos adipisci, laboriosam perferendis, odio molestiae
			maiores ratione perspiciatis culpa debitis? Reiciendis qui cum
			repudiandae, adipisci quis veritatis laborum nisi debitis
			perferendis modi veniam non culpa eius ab. Veniam repellat
			reiciendis eos libero quas corrupti iste magnam ipsum officia.
			Nostrum, possimus. Iure aperiam corporis sunt totam odio veritatis,
			perferendis esse eveniet tempore itaque repudiandae inventore, qui
			delectus similique recusandae mollitia odit, aliquam rerum facere
			perspiciatis soluta placeat corrupti. Laboriosam, sed rerum. A
			laboriosam ullam laborum maxime voluptatum perferendis corrupti
			soluta, obcaecati, nihil sit velit asperiores sapiente modi,
			doloremque dolores animi. Error sequi sit aliquid, quae hic
			mollitia commodi impedit ullam voluptas. Obcaecati non perferendis
			iure placeat, delectus assumenda voluptas nostrum alias nesciunt
			voluptatibus repudiandae asperiores, repellendus, laudantium saepe
			corrupti aspernatur. Culpa aliquam voluptatibus ipsam quasi ullam
			et eius porro adipisci quam? Quis doloribus similique adipisci ad
			repudiandae, fugiat veniam beatae officiis quidem exercitationem
			natus iste quisquam inventore eius, animi qui consectetur nulla
			reprehenderit omnis eos, magnam dicta optio molestiae? Ex, magnam.
			Omnis ea, similique ut, pariatur sequi quas autem, harum fuga sit
			obcaecati blanditiis maxime perferendis consequatur minima eius
			incidunt iure necessitatibus voluptates repellat praesentium! Illo
			deleniti laboriosam debitis ad ut. Doloremque enim repudiandae
			tempora aperiam saepe omnis architecto veritatis molestias error
			corporis. Quisquam, minima officia in est, tenetur vero adipisci
			pariatur incidunt voluptatem cupiditate cumque. Quasi reprehenderit
			iste expedita tempora. Adipisci odio explicabo voluptatum sapiente
			nemo beatae molestiae porro? Laudantium veritatis quia similique ex
			officiis voluptatem quisquam? Ex culpa, iure excepturi ab dolorem
			quam? Repellat numquam quaerat molestias odio alias. Ut nam
			expedita, sit voluptatem omnis ullam molestiae ratione nisi
			similique iste nulla atque incidunt laudantium? Eveniet corrupti
			voluptatibus doloribus, et praesentium nesciunt commodi ipsam ad
			consectetur odio fuga nulla! Sint ea facilis hic! Provident
			corrupti illo laboriosam et sapiente. Facilis inventore eius
			pariatur doloribus deserunt sequi ducimus itaque eligendi officiis,
			reiciendis qui fuga? Pariatur dicta quis odit veniam ad? Sunt fugit
			minus perferendis magni odio maxime, nostrum ipsam dolorum dolorem
			quibusdam iure officiis corrupti, quasi ex ratione. Natus, quasi
			maxime perspiciatis eius laborum commodi eum dolorem expedita
			veniam quod. Nobis odio nulla saepe, debitis sint animi aperiam
			maxime ipsam eveniet quas quisquam hic officia quis eaque totam
			unde. Porro culpa nam ea quod. Iure animi nesciunt illo similique
			quae! Eius ex iusto commodi ducimus placeat blanditiis fuga, rerum
			animi praesentium autem, provident dolore molestiae atque iure
			nobis quos quam! Quo necessitatibus voluptates id error harum nam
			quis corrupti quae. Quam id laborum obcaecati in exercitationem
			sequi, nobis, recusandae facilis corporis consequatur explicabo
			saepe nemo reprehenderit. Officiis unde atque voluptate facere
			adipisci sed nesciunt assumenda, molestiae fugiat, labore quam ab?
			Nesciunt odit non temporibus quis corporis qui odio illo excepturi
			vero fugit, reprehenderit id deserunt molestias minima ratione sit
			similique minus blanditiis quam rem hic nobis incidunt perspiciatis
			beatae. Molestias! Quia officia dolor natus dolorem illum, dolores
			nam voluptate inventore, repellat excepturi fuga ex maxime tempora
			delectus quae placeat harum, praesentium minus neque tempore. Ipsum
			optio id corporis ad recusandae. Illo unde delectus vel quis,
			incidunt aliquid aut voluptatum natus harum odio, recusandae
			corporis voluptatem nemo odit molestias earum dolorem similique
			ducimus hic quibusdam minus eos. Dicta ducimus deserunt
			praesentium. Quasi a quibusdam ad dolorum eaque totam consectetur
			doloribus dolor ab vitae explicabo ducimus, quaerat quia, velit
			laudantium. Aliquam libero quo tempora reiciendis porro? Ea
			deleniti exercitationem corrupti pariatur non. Blanditiis officiis
			aperiam facere nobis porro maxime tenetur. Eligendi, odio laborum!
			Eius, eaque, delectus reiciendis itaque qui perspiciatis quibusdam,
			ratione beatae sapiente culpa nihil autem ipsam? Obcaecati et
			deleniti nam. Officiis aliquam, deleniti dolores ipsum sequi illum
			ratione iste delectus distinctio, totam ut eum magni eligendi
			blanditiis nihil natus magnam? Ipsum architecto consequuntur
			voluptas dolorum veniam placeat corporis deserunt maxime? Animi,
			accusamus distinctio adipisci temporibus voluptatum suscipit et
			alias eaque quis voluptate blanditiis, quibusdam sit aut libero,
			eum dicta possimus tempore earum ipsa facere minus architecto.
			Aliquid ullam earum nulla. Excepturi, itaque. Pariatur maxime
			delectus provident quaerat consequatur quia error dolor aut,
			commodi odit fuga, excepturi labore nesciunt sed. In quo labore
			nesciunt voluptates minus? Provident fuga quae reiciendis
			distinctio. Provident repellat possimus tempora impedit quam quae
			officiis. Corporis obcaecati tempora, aut laboriosam voluptates
			nemo! Culpa eos suscipit dicta iure voluptatibus, repellat amet
			facere tempora at est fugiat consequuntur labore. Reprehenderit aut
			labore cupiditate est ipsa odio facere, quaerat, accusamus unde
			saepe temporibus minima optio neque nobis dolorem pariatur incidunt
			expedita ex mollitia, assumenda ab aliquam! Quod officia impedit
			repellat! Soluta possimus quas dicta impedit architecto placeat
			culpa repellendus repellat enim magnam veritatis in tenetur vitae
			deleniti sunt officiis necessitatibus, praesentium ipsum? Iusto
			tempore neque deserunt eum expedita minus quia. Quae deserunt alias
			laborum magnam dolore amet quis nulla voluptatum aliquam totam,
			ullam vitae reiciendis nihil illo! Consectetur vel doloribus
			blanditiis necessitatibus dolore distinctio, adipisci ex vitae
			autem? Eligendi, totam! Molestias eum ipsam ab. Ipsam
			exercitationem dolor itaque quidem architecto. Nam eligendi quod
			ipsum excepturi distinctio eos placeat voluptates ea saepe? Animi,
			cum unde natus dolorem magni et id saepe? Modi, id ab. Accusantium
			ut iure corrupti delectus nam. Rerum omnis laboriosam quisquam
			culpa praesentium perferendis dolor animi necessitatibus tempora
			modi, ab quaerat sequi accusamus nesciunt architecto sunt
			repudiandae possimus. Mollitia tenetur optio quaerat libero est
			praesentium? Ex placeat, quae quis harum iure itaque neque sunt
			saepe dolore, tempore doloribus laudantium! Commodi voluptatem cum
			atque in ad! Deserunt, facere eligendi. Laboriosam, aut sapiente
			voluptatibus eius quidem at officia quae, harum nulla, perferendis
			soluta? Nobis repudiandae, quas possimus expedita rem perspiciatis,
			alias officiis incidunt voluptatem reprehenderit doloremque iusto
			totam aperiam corporis! Repellendus quae ab molestias maxime nemo
			veniam nostrum officia odio. Officiis quisquam ea a, dignissimos
			corrupti similique illum accusantium non minus consequuntur ab
			deserunt aliquam ratione veritatis sed, est nostrum! Voluptate quod
			neque, a odit corporis blanditiis. Cumque eligendi modi ut! Harum,
			adipisci voluptas repellendus aperiam nobis quisquam ipsa nulla
			maxime voluptatem praesentium repellat hic totam eligendi molestiae
			commodi minus. Voluptatibus beatae tempora accusantium magni unde
			quisquam deleniti quo dolorem quia excepturi, sapiente consequuntur
			praesentium, sit a, modi repellendus fugiat inventore qui adipisci
			porro doloremque eligendi commodi iure quos. Vero? Rem nostrum odit
			pariatur nam, non explicabo maxime dolorem, impedit facilis iure
			alias iste fugit ullam consequatur distinctio repudiandae qui
			recusandae repellat. Accusantium corrupti consequuntur rem sunt.
			Fugiat, provident necessitatibus? Aut amet possimus aperiam tempora
			est porro nostrum error modi, natus, dicta nesciunt voluptates
			voluptas labore dignissimos molestiae debitis laborum sed eaque
			distinctio. Illum, reiciendis. Qui similique asperiores dignissimos
			quaerat? Voluptatum, quia dignissimos animi blanditiis alias natus
			accusamus itaque veritatis! Minima odit quasi, a impedit qui quam
			sunt voluptatem nulla neque, ab laudantium? Blanditiis doloremque,
			dolorum maiores sequi quos aut? Aut, perferendis doloremque! Fuga
			esse, nam, modi enim illo cumque adipisci perspiciatis in maxime
			aperiam error ducimus facilis earum recusandae cupiditate
			consectetur, cum odit laborum quo consequuntur sint exercitationem
			molestiae? Alias velit et aliquid provident labore repudiandae
			consequuntur eum! Consectetur ipsa molestiae et odio minus quod,
			illo possimus, magnam quas necessitatibus maxime architecto
			pariatur. Itaque, architecto. Reprehenderit eaque distinctio quod?
			Asperiores, nisi! Cumque, tempora. Tempore animi nihil, illo,
			laborum id eum placeat delectus error vel non nobis totam facere in
			cumque deleniti cum tenetur debitis nulla facilis! Itaque, magni
			vero. Molestiae harum nam numquam dolores excepturi placeat ex iure
			beatae autem. Aspernatur aperiam necessitatibus earum tempore nam
			minus sapiente, neque, explicabo inventore ex dolorum commodi? Modi
			placeat amet eum blanditiis! Ipsum debitis vel asperiores id
			consequatur accusamus delectus aperiam doloribus ex, architecto,
			cum odio nihil quasi commodi quae saepe quo esse sequi dicta
			sapiente obcaecati est. Dolorum minus corporis quos. Tenetur ullam
			nemo libero, voluptas mollitia quis soluta ipsa atque nobis velit!
			Voluptatem animi est, nisi dolores, eum magnam debitis illo
			officiis hic similique eius maxime tempore. Magnam, itaque.
			Voluptas. Sint et exercitationem dolorum dignissimos qui. Velit
			expedita atque, eum, possimus, reprehenderit quia libero dolorum
			facilis neque sequi perspiciatis cum quisquam. Dolor ratione eos
			voluptatibus impedit nihil assumenda asperiores veritatis! Iure
			fugiat inventore totam accusamus veritatis provident dolores, rem
			quis temporibus aut sunt, ipsum dolorum ut alias, dolor facilis
			quod mollitia cum modi unde iste aperiam fugit in! Et, hic. Modi ut
			fuga ad saepe ex minima maxime cupiditate, consequuntur tempore
			distinctio enim cum, provident vitae atque odit laborum! Nulla
			doloribus veniam illo iure nesciunt optio officia explicabo debitis
			dicta? Alias ducimus voluptate velit, odio officia, ullam atque
			porro dolor accusantium suscipit tempore animi veniam nam, a
			voluptatibus optio laudantium soluta et deleniti corrupti quidem
			vel exercitationem quam? Enim, cumque? Nostrum qui, itaque
			consequatur facilis sint mollitia odio cum ex veritatis molestiae
			corporis eaque nam sunt ratione sequi dolor optio! Similique earum
			aliquid hic aperiam dolorum sunt quaerat quis nesciunt? Eaque hic
			corporis soluta, iure eveniet, adipisci est, tempore illo in
			nesciunt inventore magni? Fuga nisi nihil molestias quas delectus,
			perspiciatis autem doloribus quae alias sit obcaecati odio at
			repudiandae! Voluptate, in quidem? Facilis ullam aliquid in.
			Possimus cumque illum ab aliquid magni exercitationem blanditiis
			natus praesentium vel id similique error officia necessitatibus cum
			nulla ipsam amet, nesciunt, velit doloribus! Sapiente magni, qui
			laudantium autem tempore, nostrum consectetur quibusdam eius
			repudiandae nulla hic perspiciatis quas sint adipisci? Quia amet,
			aut sed quibusdam maxime molestias. Neque deleniti corporis
			repudiandae odio animi? Tempore, voluptates nobis laborum,
			molestias, vel deleniti rem provident repudiandae ut exercitationem
			distinctio voluptatem! Nostrum, laborum placeat sunt voluptatum ex
			nisi. Sunt similique dolorem obcaecati molestias quae voluptatum
			assumenda. Expedita! Aperiam reiciendis accusamus harum tenetur,
			cum mollitia totam. Rerum ex laboriosam id repellendus maiores
			molestiae magni obcaecati, nulla atque, earum vitae quis quam
			nesciunt sapiente dolorum facere! Animi, cupiditate eligendi? Nihil
			labore velit reiciendis eligendi tempora esse omnis amet.
			Blanditiis, aliquam sit? Iure vero atque quos exercitationem
			laboriosam, aliquid eveniet facilis, doloribus nihil nostrum
			expedita eaque voluptatum sit eius sapiente? Necessitatibus fugiat
			porro eligendi et sit eius accusantium beatae deleniti, aliquid
			corporis odio! Quia tempora, earum, quod iure autem fugit itaque
			consectetur similique facilis maiores error sint, eaque vel
			asperiores? Officia maxime voluptate, debitis corporis, est quod
			eaque ipsa, atque deleniti amet minus quisquam tempore voluptates
			ex mollitia molestias! Ipsam rerum doloribus expedita fuga,
			voluptatibus aliquid natus aperiam dolor delectus. Odit doloremque,
			molestias ratione officiis consequuntur consectetur doloribus ut
			cupiditate, eligendi repellat quidem fuga. Molestias, consequatur
			asperiores. Doloribus repellat temporibus ex iure, atque pariatur
			ad, enim dicta natus deleniti consequuntur. Modi totam iusto ab
			aperiam nam architecto unde. Id rerum pariatur architecto magnam.
			Tenetur itaque distinctio iste placeat animi id obcaecati sunt
			harum repellendus at beatae iusto, in ab nihil. Unde ullam eos, nam
			id nostrum corporis eligendi dignissimos pariatur neque doloremque
			eaque voluptatem porro iure explicabo? Deserunt possimus atque
			expedita aut quidem odit commodi consequuntur. Aperiam facilis
			ipsam eligendi? Nam officia, atque illo libero hic ipsa veritatis
			non enim! Suscipit doloremque ab consequatur quisquam beatae.
			Quibusdam quaerat porro unde provident necessitatibus illum
			deserunt officia? Vel nesciunt quaerat soluta assumenda. Velit
			delectus laudantium deserunt quos rem, temporibus fugit
			dignissimos, facere dolorem enim recusandae commodi magni.
			Blanditiis impedit, minus quas quam at explicabo nam quasi. At quos
			dignissimos error obcaecati accusantium? Inventore expedita tenetur
			illum facilis blanditiis eum at beatae distinctio pariatur aperiam
			sint numquam sed quod minus ex accusantium rem repellendus
			consequatur, eius possimus modi quis? Hic accusantium magnam error.
			A nulla asperiores dolorum, deleniti consequatur eius similique
			iste molestias, possimus maiores sequi delectus ratione id ipsum
			culpa ad vitae nemo repellat, laudantium laborum ducimus tenetur!
			Provident cumque sunt similique? Aliquid, cum nobis. Ratione ipsa
			iure vel reiciendis ipsum vitae fugit incidunt perspiciatis
			suscipit! Ipsa esse accusamus asperiores voluptate cum, debitis
			fugit neque culpa et perspiciatis expedita. Porro, expedita enim.
			Quo dolorum voluptatum culpa tenetur perferendis nihil tempora
			quaerat nisi porro deserunt numquam laborum ea aliquid aperiam
			eveniet rem delectus, amet voluptas dignissimos ipsam eius
			laboriosam natus maiores! Illo, numquam! Temporibus doloremque nam,
			dolorum officia beatae ullam dolor expedita? Laborum enim sit
			itaque inventore? Magnam ipsum eos laudantium ducimus ab! Numquam,
			tempore! Sit eveniet deserunt, delectus magni officiis dolor? Aut.
			Quod vitae ipsum itaque quaerat hic aliquam assumenda. Illo modi
			nemo pariatur quod veritatis nam mollitia, suscipit optio aliquid
			dolore quo accusamus adipisci ea. Perspiciatis repellat sequi vitae
			iste sint? Doloribus ipsam exercitationem asperiores, deserunt sit
			qui pariatur voluptatibus odio repudiandae molestias autem nulla
			molestiae fugit, id eos. Eum magni modi saepe atque, harum dicta
			earum praesentium necessitatibus aperiam doloremque. Quisquam amet
			inventore debitis fugit beatae quidem qui soluta facere ullam
			quaerat animi commodi aliquam ut, magnam repellendus rem quo. Et
			sapiente iste similique quibusdam minima doloremque rerum magnam
			incidunt. Temporibus recusandae vel, cum quaerat, eos distinctio
			commodi mollitia dolore neque eius necessitatibus ratione saepe
			nobis? Rem, tenetur, repudiandae, labore ipsa corporis error nihil
			voluptatum adipisci nesciunt voluptatem ex vitae. Veniam temporibus
			facilis et obcaecati eius. Dicta aspernatur atque ex in, excepturi
			exercitationem deleniti facilis animi amet possimus, officiis
			voluptatibus. Facere numquam id incidunt commodi corporis veniam
			minima magni molestias. Facilis veritatis voluptas fugit,
			exercitationem cum asperiores fuga minima omnis doloremque, ipsum
			fugiat repellat sunt vitae nostrum hic iste error doloribus quas
			unde magni aspernatur labore? Nobis perferendis molestias quo. Ab
			quas incidunt hic, voluptatum iste cupiditate quo maxime voluptates
			tempora nemo quasi explicabo possimus vero eaque, vel, cumque
			dolorem. Atque placeat reiciendis assumenda repellendus
			voluptatibus. Reiciendis debitis obcaecati facilis! Corrupti enim
			autem facere eum repudiandae, nulla sed nisi nihil id ducimus
			sapiente quas culpa. Ratione, vel iste. Hic, illo. Accusamus
			tempore laborum numquam itaque ab architecto amet nam veritatis.
			Excepturi rem consectetur obcaecati veniam culpa non sapiente
			libero ullam quas. Totam voluptatem, autem porro enim quae odit
			sunt vero officia maiores hic consectetur reiciendis libero impedit
			quasi, iste unde. Tempore vel atque placeat aut dignissimos,
			blanditiis aspernatur sequi? Voluptatem optio mollitia nesciunt
			magni blanditiis modi. Laudantium, ipsum at tenetur, itaque
			consectetur voluptatum, modi necessitatibus eius beatae dolorum
			esse sapiente. Obcaecati ad neque quas consequuntur tempore
			delectus explicabo architecto, fugiat aliquid. Beatae officia,
			ipsam harum in accusamus aliquam alias ipsa porro, quod sapiente
			neque dolor minima! Eveniet totam libero aut! Quisquam dignissimos,
			laudantium nobis iusto porro voluptatem quos cupiditate inventore
			praesentium suscipit accusantium delectus minima quis vel illo
			voluptates rerum et explicabo corporis? Magni, fugiat consectetur?
			Sapiente maxime incidunt nulla. Impedit magni consequatur,
			voluptatum aut omnis, sapiente in maxime perspiciatis ex explicabo
			natus odio voluptatibus temporibus accusamus libero inventore
			consectetur at dolor nam nobis deleniti iusto, quasi error!
			Deleniti, velit. Eius ipsum sequi distinctio a hic saepe dolorem
			voluptates nesciunt ea voluptatibus eos deleniti autem soluta iusto
			facere doloremque asperiores, molestiae cupiditate sed quibusdam
			iure. Debitis ad facilis tempora? Explicabo. Officiis
			exercitationem et sint! Quod, laborum perspiciatis sunt nam
			eligendi corrupti eaque deserunt doloremque natus animi blanditiis
			maxime nulla suscipit? Saepe facere laudantium cum vel placeat
			quaerat culpa incidunt eius? Est beatae mollitia facere. Cumque
			consectetur inventore eius ullam perspiciatis! Cumque, atque nam
			ipsam modi qui eum architecto optio voluptatum illo vitae molestiae
			commodi maiores tempora ipsum molestias debitis laboriosam.
			Officiis tenetur maxime dolor. Aut sint aspernatur maxime illo
			aperiam nam pariatur animi iusto in dolorum, assumenda atque ab
			molestias velit id quaerat! Nobis nulla enim accusamus perferendis
			molestias quia? Harum vel dignissimos consequatur illo facilis
			velit, reprehenderit autem amet cumque magnam, aliquid maiores, eos
			ab provident at aliquam esse! A veniam explicabo eius debitis. Quo
			tempore aut iusto explicabo. Illum quidem voluptatum libero sunt
			impedit porro reiciendis ratione quaerat eius ab quisquam, sint
			veniam doloremque voluptatibus earum pariatur. Fuga temporibus
			debitis beatae ipsam hic dicta incidunt architecto pariatur
			officiis? Autem earum expedita modi consequatur, rem voluptas atque
			veniam distinctio sunt doloremque tempore. Voluptatibus deleniti
			eligendi ab nemo ducimus praesentium quod quasi natus consequatur,
			rerum maiores fuga. Porro, dolores officia! Obcaecati doloribus
			quibusdam commodi debitis ipsum ab sed molestias ipsa itaque enim
			provident placeat laudantium facere, delectus sapiente nulla
			repudiandae sunt? Odio nesciunt veritatis magnam deserunt. Aliquid
			culpa eum voluptatibus? Odio molestias dicta inventore nobis natus
			omnis cum vel numquam, nesciunt necessitatibus, ratione aut ab
			eligendi. Sint doloremque numquam incidunt neque obcaecati, sed
			sunt tenetur blanditiis eum earum. Saepe, fugit? Repellat vitae
			nostrum cum maiores consequuntur dolor ut, ratione debitis labore
			rerum voluptates nobis culpa minima voluptate pariatur, laudantium
			recusandae ipsum at repellendus iure? Fugit explicabo nulla
			praesentium fugiat. Repellendus! Voluptate, velit ex facilis nobis
			odit adipisci quis unde, explicabo maiores rem fuga necessitatibus
			blanditiis! Asperiores, deleniti laudantium illum similique
			distinctio aut minima quam tempora amet perferendis hic? Sint, sed.
			Animi fuga dolorum reiciendis doloribus accusantium placeat totam,
			laborum voluptas debitis est enim praesentium quibusdam? Atque,
			officia! Adipisci atque explicabo voluptatibus vitae ex, soluta
			blanditiis placeat id quidem eveniet officia? Quibusdam placeat
			deleniti necessitatibus quaerat ipsa tempore nobis earum harum,
			exercitationem iure numquam nemo aliquam cupiditate architecto
			quidem maxime dolorum inventore impedit laudantium non aperiam
			optio, sunt voluptas? Dicta, minima? Ipsa veniam eveniet quae,
			corporis porro perspiciatis amet vel, non quia quam enim aspernatur
			iusto expedita voluptatibus? Molestias inventore maiores atque
			ratione reprehenderit placeat, perspiciatis, dolore deleniti
			incidunt possimus non! Nam cupiditate accusantium provident, esse
			omnis laboriosam eos modi vero ab adipisci quaerat suscipit vitae
			eius asperiores quod eveniet architecto nostrum, deleniti fugit eum
			amet iusto nemo. Consequuntur, recusandae perferendis! Doloremque,
			animi! Dolores aperiam odio eligendi rem, cupiditate aliquid
			dolorem repellendus labore voluptas eius magni suscipit libero
			ratione vitae, minus id voluptatibus animi reprehenderit numquam
			molestiae. Ullam iste voluptatem porro?
		</p>
	</section>
</BaseLayout>
<style lang='scss'>
	.form {
	}
	.title {
		anchor-name: --title;
	}
	.anchor {
		position-anchor: --title;
		left: anchor(right);
		bottom: anchor(top);
	}
	details {
		--drop-down-icon: '--';
		&[open] {
			--drop-down-icon: '&';
		}
	}
	.hhh {
		width: 150cqw;
		max-width: none;
	}
	section {
		--scroll-height: 0px;
		--scroll-thumb-color: rgb(17, 255, 0);

		max-width: 43.75rem;
		margin-inline: auto;
		overflow-x: scroll;
		&:hover {
			--scroll-width: 0px;
			--scroll-height: 4px;
			--scroll-thumb-color: rgb(238, 0, 255);
		}
	}
</style>
