---
import BrandLogo from './assets/brand.svg';
import LinkComp from './nav-comp/link-comp.astro';
import { Hamburger, HamburgerIcon, MenuIcon } from '@lucide/astro';
const navigation: {
	link: string;
	text: string;
	children?: { link: string; text: string }[];
}[] = [
	{ link: '/', text: 'Home' },
	{ link: '/what-we-do', text: 'What We Do', children: [] },
	{ link: '/our-programs', text: 'Our Programs', children: [] },
	{ link: '/shop', text: 'Shop' },
	{ link: '/blog', text: 'Blog' },
	{ link: '/about-us', text: 'About Us' },
	{ link: '/careers', text: 'Careers' },
];
---

<nav class='bg-black py-2.5 px-6'>
	<div
		class='max-w-containerBrand m-auto flex justify-between items-center gap-2'>
		<BrandLogo />
		<div class='gap-8 rs-font-link flex'>
			{
				navigation.map((data) => {
					return <LinkComp {...data} />;
				})
			}
		</div>
		<a
			class='nav__cta py-3 px-6 bg-white align-middle rounded-full rs-font'
			href='/'>
			Get Started
		</a>
		<MenuIcon class='mobile-icon text-white' />
	</div>
</nav>

<style lang='scss'>
	@use '@/styles/fn.scss' as fn;
	.rs-font {
		font-size: fn.useResponsiveSize(320, 1024, 12, 16);
		font-family: var(--font-family);
	}
	.rs-font-link {
		font-size: fn.useResponsiveSize(320, 1024, 12, 14);
	}
	@media screen and (width > 872px) {
		.mobile-icon {
			display: none;
		}
	}
	@media screen and (width <= 872px) {
		.rs-font-link {
			display: none;
		}
		.nav__cta {
			display: none;
		}
	}
</style>
